$color-gray: #b2b2b2;
$color-light-gray: #d9d9d9;
$color-very-light-gray: #fcfcfc;
$color-white-smoke: #efefef;
$color-raisen-black: #222222;
$color-primary-800: #3369b9;
$color-black: #000;
$default-border-color: rgba($color-black, 0.26);
