@font-face {
  font-family: "CormorantGaramondMedium";
  src: url("/assets/fonts/CormorantGaramond-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirNextRegular";
  src: url("/assets/fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextDemiBold";
  src: url("/assets/fonts/AvenirNext-DemiBold.ttf") format("truetype");
}
