<mat-toolbar color="primary" class="mb-5">
  <mat-toolbar-row>
    <div>
      <button mat-button routerLink="/contacts">Contacts</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="bg-dark text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 implement by hardy4787:
    <a class="text-white" href="https://github.com/hardy4787">github</a>
  </div>
</footer>
